@charset "UTF-8";
/* CSS Document */
body,p{margin:0;}
#container {
	position: absolute;
	width:300px;
	height:250px;
	background: url('../images/starbg.jpg');	
	overflow:hidden;
	cursor: pointer;
}
.hidden{
	position: absolute;
	opacity: 0;
	display: 0;
}
.show{
	position: absolute;
	opacity: 1;
	display: 1;
}
#finalFrame{
	background-color: #17669e;
	width: 300px;
	height: 250px;
}
#wave{
	z-index: 10;
}
